{% include "user/includes/header.html" %}
<style>
    .text-danger {
        color: red;
    }
    .text-success {
        color: #27ae60;
    }
</style>
{% include "user/includes/navbar.html" %}
        <main class="main">
            
            <div class="page-content mt-6 pb-2 mb-10">
                <div class="container">
                    <div class="login-popup">
                        <div class="form-box">
                            <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                                <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Login</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <p class="text-{{ category }}">{{ message }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    {% if error  %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endif %}
                                    <div class="tab-pane active" id="signin">
                                        <form method="post" autocomplete="off">
                                            <div class="form-group mb-3">
                                                <input type="text" class="form-control" id="singin-email" name="username" placeholder="Mobile Number or Email Address *" required />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="singin-password" name="password" placeholder="Password *" required />
                                            </div>
                                            <div class="form-footer">
                                                <a href="#" class="lost-link">Lost your password?</a>
                                            </div>
                                            <button class="btn btn-dark btn-block btn-rounded" type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include "user/includes/footer.html" %}
