<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='user/css/style.min.css')}}">
{% include "user/includes/header.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% include "user/includes/navbar.html" %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<style>
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<main class="main cart">
    <div class="page-content pt-7 pb-10">
        <div class="container mt-7 mb-2">
            <table id="table_id" class="display table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>address</th>
                        <th>Status</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% set orderDetails = order['Orders'] %}
                    {% set addressDetails = order['Addresses'] %}
                    <tr>
                        <td>{{ orderDetails.order_id }}</td>
                        <td>{{ orderDetails.amount }}</td>
                        <td>{{ orderDetails.payment_method }}</td>
                        <td>{{ addressDetails.address }}, {{ addressDetails.city }}, {{ addressDetails.state }}</td>
                        <td>{{ orderDetails.status }}</td>
                        <td><a href="javascript:void(0)" onclick="showModal(`{{ orderDetails.order }}`)" class='btn btn-primary btn-sm'>View
                                Details</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="tproduct">

            </tbody>
        </table>
    </div>

</div>
{% include "user/includes/footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/autofill/2.3.7/js/autoFill.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
    $("#example1").DataTable({
        "responsive": true,
        "info": true,
        "responsive": true,
    });
    var modal = document.getElementById("myModal");
    var span = document.getElementById("close");
    function showModal(details) {
        details = JSON.parse(details);
        $('#tproduct').empty()
        details.forEach(order => {
            console.log(order);
            $('#tproduct').append(`
               <tr>
                   <td>${order.name}</td>
                   <td>${order.price}</td>
                   <td>${order.qty}</td>
                   <td>${order.amount}</td>
               </tr>
            `)
        });
        modal.style.display = "block";
    }
    function close() {
        console.log('hello');
        modal.style.display = "none";
    }
    // Get the <span> element that closes the modal


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>